<h1>{{title}}</h1>
<hr>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
      <label for="municipios">Municipios</label>
      <select class="select form-control" name="municipios" id="municipios" formControlName="municipio">
        <option *ngFor="let municipio of municipios"  [value]="municipio.municipio">{{municipio.municipio}} - {{municipio.departamento}}</option>
      </select>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
      <label for="Palabra">Palabra a concatenar</label>
      <input class="input form-control" min=0 placeholder="Digite la Palabra que desea concatenar" formControlName="concatenar"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn-enviar btn btn-primary btn-block btn-full">Enviar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" (click)="limpiar()" class="btn-enviar btn btn-secondary btn-block btn-full">Limpiar</button>
    </div>
  </div>
</form>
<hr>
<h2>Resultados</h2>
<ul *ngIf="resultados.length>=0">
  <li *ngFor="let item of resultados">{{item}}</li>
</ul>
