/* You can add global styles to this file, and also import other style files */
body{
    padding: 10px;
}
label {
    color: blue;
    font-weight: bolder;
}
.select, .input {
    border-radius: 40px;
    height: 40px;
    color: gray;
    border: 1px solid gray;
}

.btn-enviar {
    margin: 10px auto;
    width: 100%;
    border-radius: 40px;
}

